.top-container{
    background-color:#D6E4E5;
    position:relative;
    padding: 100px;
    
}
.middle-container{
    background-color: #D6E4E5;
    

}
.bottom-container{

}
.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
}
.skill-1{
    width: 30%;
    height: 30%;
    float: left;
    margin-right: 30px;
}
.skill-2{
    width: 30%;
    height: 30%;
    float: right;
    margin-left: 30px;
}
h1{
    margin: 50px auto 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3.125em;
    color:#495579;
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    color: #495579;
    font-weight: normal;
    
    
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:#495579
}

body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
p{
    color:#495579 ;
}
.cloud1{
    position: absolute;
    right:250px;
}   

.cloud2{
    position:absolute;
}
.pro{
    text-decoration: underline;
}

